<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data Binding</title>
  </head>
  <body>
    <div id="app">
      <span>{{ str }}</span>
      <p v-bind:id="uuid" v-bind:class="name">{{ num }}</p>
      <!-- 위 코드는 아래 코드로 보여진다 -->
      <!-- <p id="abc1234">{{ num }}</p> -->
      <p>{{ doubleNum }}</p>
      <div v-if="loading">
        Loading...
      </div>
      <div v-else>
        test user has been logged in
      </div>
      <!-- v-show: CSS로 display: none 으로 화면에서 보이지 않도록 한다
           v-if, v-else: DOM상에서 요소를 아예 제거한다 -->
      <div v-show="loading">
        Loading...
      </div>
      <!-- TODO: 인풋 박스를 만들고 입력된 값을 p 태그에 출력해보세요 -->
      <input type="text" v-model="message">
      <p>{{ message }}</p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      var input

      new Vue({
        el: '#app',
        data: {
          str: 'hi! i am calculator',
          num: 10,
          // 어떤 데이터 값에 따라 바뀌는 경우 아래의 computed 속성을 사용할 수 있다
          // doubleNum: num * 2
          uuid: 'abc1234',
          name: 'text-blue',
          loading: true,
          message: ''
        },
        computed: {
          doubleNum: function() {
            return this.num * 2;
          }
        }
      })
    </script>
  </body>
</html>
