$heading-text: #777777;

body {
  background-color: linen;
  // background-color: lightgoldenrodyellow;
}

h1 {
  color: $heading-text;
}

.bg-img {
  background-image: url("../images/hy.jpg");
  width: 120px;
  height: 120px;
  background-size: 50% 50%;
  background-repeat: no-repeat;
}
