@import "theme-test";

$heading-text: #272727;
$sub-heading-text: #3c3c3c;

body {
  background-color: #eee;
  // background-color: lightgoldenrodyellow;
}

h1,
h2 {
  color: $heading-text;
}

h3 {
  color: $sub-heading-text;
}

.bg-img {
  background-image: url("../images/hy.jpg");
  width: 120px;
  height: 120px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.theme {
  display: flex;
  margin-bottom: 40px;
}

.theme-item {
  width: 40px;
  height: 40px;
  margin-right: 6px;
  box-shadow: 0 0 2px rgba(23, 23, 23, 0.169);
}

// 1차 구현
// .theme-default {
//   $ui-1: #fff !default;
//   $ui-2: #eee !default;
//   $interactive-1: #00A4EC !default;
//   $interactive-2: #002F58 !default;
//   $icon-1: #656570 !default;

//   .ui-1 {
//     background-color: $ui-1;
//   }

//   .ui-2 {
//     background-color: $ui-2;
//   }

//   .interactive-1 {
//     background-color: $interactive-1;
//   }

//   .interactive-2 {
//     background-color: $interactive-2;
//   }

//   .icon-1 {
//     background-color: $icon-1;
//   }
// }

// .theme-second {
//   $ui-1: #fff3f3;
//   $ui-2: #e2dbdb;
//   $interactive-1: #dc2d2d;
//   $interactive-2: #f7cb3c;
//   $icon-1: #f27777;

//   .ui-1 {
//     background-color: $ui-1;
//   }

//   .ui-2 {
//     background-color: $ui-2;
//   }

//   .interactive-1 {
//     background-color: $interactive-1;
//   }

//   .interactive-2 {
//     background-color: $interactive-2;
//   }

//   .icon-1 {
//     background-color: $icon-1;
//   }
// }

// 2차 구현
$color-scheme: (
  (theme-default, #fff, #eee, #00a4ec, #002f58, #171717, #656570),
  (theme-second, #fff3f3, #e2dbdb, #dc2d2d, #f7cb3c, #f27777)
);

@mixin theme($name, $ui-1, $ui-2, $interactive-1, $interactive-2, $icon-1) {
  .#{$name} {
    .ui-1 {
      background: $ui-1;
    }
    .ui-2 {
      background: $ui-2;
    }
    .interactive-1 {
      background: $interactive-1;
    }
    .interactive-2 {
      background: $interactive-2;
    }
    .icon-1 {
      background: $icon-1;
    }
  }
}

@each $name, $ui-1, $ui-2, $interactive-1, $interactive-2, $icon-1 in $color-scheme {
  @include theme($name, $ui-1, $ui-2, $interactive-1, $interactive-2, $icon-1);
}

// svg-icon
.svg-icon {
  width: 200px;
  height: 200px;
  color: #89b0d6;  //Reference: https://css-tricks.com/cascading-svg-fill-color/
}
